<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviehub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/moviehub"
        android:label="@string/app_name"
        android:roundIcon="@drawable/moviehub"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activities.BookmarkActivity"></activity>
        <activity android:name=".ui.activities.AppinfoActivity" />
        <activity android:name=".ui.activities.ForMoreActivity" />
        <activity android:name=".ui.activities.SearchActivity" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MoreActivity" />
        <activity android:name=".ui.activities.MoviePosterActivity" />
        <activity android:name=".ui.activities.ZoomImageActivity" />
        <activity android:name=".ui.activities.ProfileActivity" />
        <activity android:name=".ui.activities.MovieCatagoryActivity" />
        <activity android:name=".ui.activities.CelebritiesActivity" />
        <activity android:name=".ui.activities.AllDetatilActivity" />
        <activity android:name=".ui.activities.MainActivity" />
    </application>

</manifest>